html {
  background-color: #e8eaeb;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;

}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

footer {
  text-align: center; 
  margin-top: 2rem; 
  padding: 1rem;   
}
