---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
		<h2>My awesome blog subtitle</h2>
		<p>I miss surfing the internet. I don’t like algorithms that mindlessly feed you “““content””” (god, I hate that word).</p>

		<p>So, this is my personal space on the internet, where I write about things I've read, seen, watched... Here, you’ll find links to other websites, tools, youtube channels and more !</p>

		<p><em><b>This website does not collect cookies</b></em></p>
</BaseLayout>