---
const platform = "github";
const username = "withastro";
---

<footer>
  <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
  Made with Astro (using <a href="https://docs.astro.build/en/tutorial/0-introduction/"> their awesome tutorial</a>).
</footer>