---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Social platform="youtube" username="@Linkard" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />

  <p>Made with Astro (using <a href="https://docs.astro.build/en/tutorial/0-introduction/"> their awesome tutorial</a>).</p>
</footer>